{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{{ include('include/header.html.twig') }}

    <h1 align="center">Main page for crud table</h1>
    {% if articles %}
        <div class="container">
            <div class="row">
                <table id="articles_table" class="table table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Show</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.title }}</td>
                            <td><a href="/article/{{ article.id }}" class="btn btn-dark">Show</a></td>
                            <td><a href="/article/edit/{{ article.id }}" class="btn btn-info">Edit</a></td>
                            <td><a href="" class="btn btn-danger article-delete" data-id="{{ article.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
<p>No Articles to show</p>
    {% endif %}

    {{ include('include/footer.html.twig') }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}
