<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Symfony 4 CRUD">
        <meta name="author" content="Leonid Perenesiy">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}" crossorigin="anonymous"></script>
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
