{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}
    <h1 align="center">Create Article</h1>
<div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
</div>

    <a href="{{ path('homepage') }}">
        <button class="ml-2">Back home</button>
    </a>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script src="{{ asset('js/article.js') }}"></script>#}
{#{% endblock %}#}